<header class="w3-container w3-deep-orange w3-top">
<nav class="w3-container w3-bar w3-deep-orange w3-padding-8" >
    <a href="https://play.google.com/store/apps/details?id=top.rregio.calculanotasunivesp"><img src="/assets\images\CalculaNotasLogo48.png" alt="logo do aplicativo" width="30px" class="w3-right"/></a>
    <a href="/index.html#sobre" class="w3-bar-item w3-item w3-btn">Sobre</a>
    <a href="/index.html#dev" class="w3-bar-item w3-item w3-btn">Desenvolvedor</a>
    <a href="/index.html#posts" class="w3-bar-item w3-item w3-btn">Posts</a>
</nav>
</header>