<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/w3.css">
    <link rel="stylesheet" href="/assets/css/meu_estilo.css">
    <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon">
</head>
<body>
    {% include navegacao.html %}
    <main class="groundcolor">
    {{ content }}
    </main>
    {% include footer.html %}
</body>
</html>